{% trans_default_domain 'FOSUserBundle' %}
<p class="login-box-msg">Inscription</p>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="form-group has-feedback">
    {{ form_widget(form.username,{'attr':{  "id":"_username","name":"username" ,"class":"form-control" ,"placeholder":"Username" }}   ) }}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
    {{ form_widget(form.email,{'attr':{  "id":"_email","name":"email" ,"class":"form-control" ,"placeholder":"Email" }}   ) }}
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
    {{ form_widget(form.plainPassword.first,{'attr':{  "id":"_race","name":"race" ,"class":"form-control" ,"placeholder":"Mot de passe" }}   ) }}
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
    {{ form_widget(form.plainPassword.second,{'attr':{  "id":"_race","name":"race" ,"class":"form-control" ,"placeholder":"Retaper mot de passe" }}   ) }}
    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
    {{ form_widget(form.age,{'attr':{  "id":"_age","name":"age" ,"class":"form-control" ,"placeholder":"Age" }}   ) }}
</div>   

<div class="form-group has-feedback">
    {{ form_widget(form.famille,{'attr':{  "id":"_Famille","name":"famille" ,"class":"form-control" ,"placeholder":"Famille" }}   ) }}
</div>   

<div class="form-group has-feedback">
    {{ form_widget(form.nourriture,{'attr':{  "id":"_nourriture","name":"Nourriture" ,"class":"form-control" ,"placeholder":"Nourriture" }}   ) }}
</div>   

<div class="form-group has-feedback">
    {{ form_widget(form.race,{'attr':{  "id":"_race","name":"race" ,"class":"form-control" ,"placeholder":"Race" }}   ) }}
</div>   

<div class="col-xs-8">
    <div class="checkbox icheck">
        <label>
            <input type="checkbox"> J'accepte les conditions d'utilisation  <a href="#">terms</a>
        </label>
    </div>
</div>
<!-- /.col -->
{{ form_widget(form) }}

<div class="col-xs-4">
    <button type="submit" class="btn btn-primary btn-block btn-flat">S'inscrire</button>
</div>

<!-- /.col -->
{{ form_end(form) }}

<a href="{{path('fos_user_security_login')}}" class="text-center">J'ai déjà un compte</a>
